<div id="order" class="page-layout carded fullwidth inner-scroll">
    
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    
    <!-- CENTER -->
    <div class="center">
        
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                
                <button mat-icon-button class="mr-16" [routerLink]="'/apps/tenders'">
                    <mat-icon>import_export</mat-icon>
                    
                </button>
                
                <div fxLayout="column" fxLayoutAlign="start start"
                [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <div class="h2"> New Tender
                </div>
            </div>
        </div>
        <!-- / APP TITLE -->
        
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT CARD -->
    <div class="content-card">
        
        <!-- CONTENT -->
        <div class="content">
            <form fxLayout="column" [formGroup]="addTenderForm">
                
                 
                <div fxLayout="column" class="m-8">
                    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50" class="m-40">
                        <h1> Add new Tender</h1>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                  
                            <mat-button-toggle-group   aria-label="Font Style" value="new" class="mb-20" >
                                <mat-button-toggle value="new" (click)="changeTenderType('new')"> New Tender</mat-button-toggle>
                                <mat-button-toggle value="geri" (click)="changeTenderType('geri') ">GERI Tender</mat-button-toggle>
                               </mat-button-toggle-group>
                         
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" >
                        
 
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label *ngIf="newTendertype == 'geri'">Geri Tender name <b style="color:red">*</b></mat-label>
                            <mat-label *ngIf="newTendertype == 'new'">Tender name <b style="color:red">*</b> </mat-label>
                            <input matInput formControlName="name" autocomplete="off"   (focusout)="nameInputFocused = false" (focus)="nameInputFocused = true"   />
                            <mat-hint *ngIf="nameInputFocused && newTendertype == 'geri'">Tender name has to be unique name!</mat-hint>
                        </mat-form-field>
                        
                        
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center"  *ngIf="newTendertype == 'new'">
                        
 
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Tender name prefix <b style="color:red">*</b></mat-label>
                            <input matInput formControlName="prefix" autocomplete="off"  (focusout)="nameInputFocused = false" (focus)="nameInputFocused = true"   />
                         </mat-form-field>
                        
                        
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center"  *ngIf="newTendertype == 'new'">
                        

                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>GemForce Account </mat-label>
                            <input type="text"
                                 matInput
                                 [value]="addTenderForm.value.accountName.accountName || addTenderForm.value.accountName "
                                 formControlName="accountName"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let account of accoutsList" [value]="account">
                                  {{account.accountName}}
                                </mat-option>
                              </mat-autocomplete>
                        </mat-form-field>
                        
                        
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!!opportunitiesList?.Opportunities.length && newTendertype == 'new'">
                        

                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Select Opportunity </mat-label>
                            <mat-select  formControlName="opportunity">
                                <mat-option *ngFor="let opp of opportunitiesList.Opportunities" [value]="opp">
                                    {{opp.displayName}}
                                  </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="newTendertype == 'new'">
                        
                        
                        
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Description </mat-label>
                            <textarea matInput rows="5" formControlName="description"></textarea>
                        </mat-form-field>
                        
                        
                        
                    </div>
                    
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="newTendertype == 'new'">
                        
                        
                        
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Country     <b style="color:red">*</b></mat-label>
                            <mat-select formControlName="country" >
                                     <mat-option   *ngFor="let country of countries"  [value]="country">{{country}}</mat-option  > 
                            </mat-select>
                            
                        </mat-form-field>
                        
                        
                        
                    </div>
                    
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="newTendertype == 'new'">
                        
                        
                        
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Counterpart <b style="color:red">*</b></mat-label>
                            <input matInput formControlName="counterpart">
                        </mat-form-field>
                        
                        
                        
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="newTendertype == 'new'">
                        
                        
                        
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Deadline   <b style="color:red">*</b></mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="deadline">
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        
                        
                        
                    </div>
                    
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="newTendertype == 'new'">
                   
                        
                        <mat-form-field  appearance="outline" fxFlex="50">
                            <mat-label>Technologies <b style="color:red">*</b></mat-label>
                            <mat-select formControlName="technology" >
                                <mat-option   value="SOLAR">SOLAR</mat-option  >
                               <mat-option   value="ONSHORE_WIND">ONSHORE_WIND</mat-option  >
                                <mat-option   value="OFFSHORE_WIND">OFFSHORE_WIND</mat-option  >
                                    <mat-option   value="MIXED">MIXED</mat-option  >
                            </mat-select>
                            
                          </mat-form-field>
                        
                        
                    </div>
                    
                    
                    <div fxLayout="row" fxLayoutAlign="center center" class="m-40">
                        <button mat-raised-button color="primary" (click)="submitTender()" [disabled]="addTenderForm.invalid" >Add
                           Tender</button>  
                    </div>
                     
                    
                </div>
            </form>
            
        </div>
        <!-- / CONTENT -->
        
    </div>
    <!-- / CONTENT CARD -->
    
</div>
<!-- / CENTER -->
</div>